.navbarHead {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbarHide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbarShow {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.navLink {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;

}

.navLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #000;
    font-weight: normal;
    transition: width 0.2s;
}

.navLink:hover::after {
    width: 100%;
    font-weight: 800 !important;
}

.navLink.active::after {
    width: 100%;
}

.active {
    font-weight: 600 !important;
}