:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


 /* max-width: 100vw;
  overflow-x: hidden; */
/* html,
body {
 
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Domine, Tiro_Bangla, "Old Standard TT", Arial, Helvetica, sans-serif; */
  font-family: var(--font-domine), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Switch to Bengali font when language is BN */
body[data-lang="bn"] {
  font-family: var(--font-tiro-bangla), serif;
}

.ant-layout,
.ant-layout * {
  font-family: var(--font-domine), serif !important;
}

/* Ensure Ant components also swap fonts for BN */
body[data-lang="bn"] .ant-layout,
body[data-lang="bn"] .ant-layout * {
  font-family: var(--font-tiro-bangla), serif !important;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* nextjs-portal {
  display: none;
} */

.main-content {
  padding-top: 70px; /* Adjust this value based on your navbar's height */
}
